header{
    color: green;
    font-weight: bold;
    font-size: 60pt;
    text-align: center;
    margin: 50px;
}

section {
    text-align: center;
    color: blue;
    font-weight: bold;
    font-size: 24pt
  };

  main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20%;
    padding: 40px;
  };

button {
margin: 50px;
border: 10px solid grey;
}