#offsetMenu {
    margin-top: 8px;
}

#username {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 4em;
}

#logo {
    min-width: 150px;
    max-height: 24px;
    object-fit: contain;
}

.nav-link.active {
    text-decoration: underline;
}

#carouselExampleIndicators {
    height: 40vh;
}

#carouselExampleIndicators .carousel-inner,
#carouselExampleIndicators .carousel-item,
#carouselExampleIndicators .carousel-inner img {
    height: 100%;
    object-fit: cover;
}

.carousel-indicators button {
    width: 20px!important;
    height: 20px!important;
}

.slider .row {
    height: 24vh;
    overflow-y: hidden;
}

.slider span a {
    color: white;
    text-decoration: none;
}

#slider {
    width: 100vw;
    margin:0;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: hidden;
    position: relative;
}

#contentSlider {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    transition: transform 0.3s ease;
}

#slider img {
    width: 18%;
    margin-left:1%;
    margin-right:1%;
}

.slider .row {
    height: 24vh;
    overflow-y: hidden;
}

.slider span a {
    color: white;
    text-decoration: none;
}

#slider {
    width: 100vw;
    margin:0;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: hidden;
    position: relative;
}

#contentSlider {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    transition: transform 0.3s ease;
}

#slider img {
    width: 18%;
    margin-left:1%;
    margin-right:1%;
}