#main {
text-align: center;

}
#mainContainer {
    background-color: beige;
    border-radius: 30px 30px;
    height: auto;
}

#editContainer {
background-color: beige;
border-radius: 20px 20px;
height: auto;
display: flex;
flex-wrap: wrap;

}
#nameBrand #nameProduct {
color: blue

}


#cards {
    background-color:  rgb(166, 200, 228);
    color: rgb(80, 80, 236)
    border: 2px solid blue;

}