main {
    display: flex;
    justify-content: space-evenly;
}

.container {
    text-align: center;
    box-sizing: border-box;
    width: 20vw;
    border: solid 1px black;
    height: 50vh;
}

.featured {
    color: red;
    font-size:  3rem;
}

ul {
    background: green;
}

.featured ~ ul {
    color: blue;
}

.featured h1 {
    color: red;
}
.featured ul {
    color: red;
}