/* 
div {
    background:green;
}
#test {
    box-sizing: content-box;
    width: 50vw;
    height: 100px;
    background: orange;
    border: 5px blue solid;
    outline: 2px purple solid;
    padding: 10px;
    margin: 20px;
}
#testBorder {
    box-sizing: border-box;
    width: 50vw;
    height: 100px;
    border: 5px blue solid;
    outline: 2px purple solid;
    padding: 10px;
    margin: 20px;
} */

/*TAG*/
div {
    width: 100px;
    height: 100px;
    box-sizing: border-box;

    background: black;

    color: white;
}

/*CLASSE . */
.verde {
    background: green;
}

/*ID # */
#test {
    background:orange;
}

/*con i combinatori gli elementi a ottenere le regole sono descritti dal selettore più a destra*/

/*COMBINATORE SPACE*/
/* elementi discendente di quelli più a sinistra */
span div {
    background:yellow;
}
span .verde {
    background:blue;
}
.container .verde {
    background: tomato;
}
.container div {
    background:red;
}
body span div {
    background:pink;
}

/*COMBINATOR NOSPACE*/
/* elementi con entrambi i selettori */
/* div.verde {
    background: lightgray;
} */

.grassetto {
    font-weight: bold;
}

main div.verde.grassetto{
    color: red;
}


/* COMBINATOR GROUPING , */
/* applica le regole a tutti i selettori, ognuno distinto dalla virgola */

#test,
span .viola{
    text-align: center;
}

/*COMBINATORE DIRECT CHILD > */
/* applica le regole solo agli elementi direttamente figli del selettore a sinistra, non le applica agli altri discendeti  */
/* > è più rilevante dello SPACE */

/*commentare per provare il combinator SPACE*/
.container > div {
    background: aquamarine;
}

/*COMBINATORE ADJACENT + */
/* applica le regole all'elemento posizionato subito dopo al selettore a sinistra se sono siblings */
/* siblings == hanno lo stesso parent diretto */
h1 + .verde {
    background: rebeccapurple;
} 

/* COMBINATORE GENERAL SIBLING ~ (tilde) */
/* applica la regola a tutti i siblings successivi  */
h2 ~ .verde {
    background: brown;
}

/* COMBINATORE ATTRIBUTO [nomeAttr="valoreAttributo"] */
/*https://www.w3schools.com/css/css_attribute_selectors.asp*/
[type="text"] {
    color: red;
}

#form input[type="email"] {
    /*QUESTO È PARTICOLARMENTE UTILE*/
    color: purple;
}


/*PSEUDO-CLASSI*/
p:hover {}
/*
https://www.w3schools.com/css/css_pseudo_classes.asp
- :hover -> quando il mouse è sopra l'elemento
- :visited -> quando il tag ha un href="" con un indirizzo in cronologia
- :focus
- :firstChild/:lastChild
- :first-of-type/:last-of-type
- :nth-child(n)/:nth-of-type(n) -> n_esimo elemento che risponde al selettore associato, odd, even, 3*n, ...
- :not(selector) -> ignora gli elemnenti che rispondono al selector
*/

input[type="email"]:focus {
    outline: none;
    background: lightgreen;
}

input[type="number"] {

}

/* #list li:nth-of-type(1) {
    background: green;
}
#list li:nth-of-type(even) {
    background: red;
}
#list li:nth-of-type(3n) {
    background: red;
} */

#list li:not(.active) {
    background: orange;
}
/* 
#list li {
    background:orange;
}
#list li.active { 
    background:inherit;
} */